html, body {
  height: 100%;
  overflow: hidden;
  background: #fafafa;
  margin: 0px 0px 0px 0px;
}

nav {
  margin: 0;
  float: left;
  padding: 16px;
  max-width: 228px;
  background: #fafafa;
}

#main {
  padding: 0em;
  height: 100%;
  overflow: auto;
  margin-left: 256px;
  background: #000000;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: darkgray;
}

.title {
  font-weight: bold;
  color: #414141;
  text-align: center;
  font-family: sans-serif;
}

.subtitle {
  font-weight: bold;
  color: #414141;
  text-align: left;
  font-family: sans-serif;
  font-size: 0.9em;
}

p {
  color: #414141;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.8em;
}

button {
  width: 228px;
  color: #414141;
  text-align: center;
}

input {
  width: 228px;
  color: #414141;
  font-size: 0.8em;
  font-family: sans-serif;
}